/* =Divider container.
 -------------------------------------------------------------- */
.spirebuilder-widget-divider > .span12 > div {
	position : relative;
}

/* =Text container.
 -------------------------------------------------------------- */
.spirebuilder-widget-divider > .span12 > div > div {
	background    : none repeat scroll 0 0 white;
	display       : inline-block;
	padding-left  : 1em;
	padding-right : 1em;
	position      : relative;
	top           : 0.85em;
}