/*@font-face {*/
	/*font-family : 'CodeField';*/
	/*src         : url('fonts/CodeField.eot?') format('eot'), url('fonts/CodeField.woff') format('woff'), url('fonts/CodeField.ttf') format('truetype');*/
	/*font-weight : normal;*/
	/*font-style  : normal;*/
/*}*/

@font-face {
	font-family: 'CodeField';
	src:url('fonts/CodeField.eot');
	src:url('fonts/CodeField.eot?#iefix') format('embedded-opentype'),
	url('fonts/CodeField.ttf') format('truetype'),
	url('fonts/CodeField.woff') format('woff'),
	url('fonts/CodeField.svg#CodeField') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-folder-stroke:before,
.icon-folder-fill:before,
.icon-map2:before,
.icon-map:before,
.icon-columns-1-2_1-2:before,
.icon-columns-1-2_1-4_1-4:before,
.icon-columns-1-4_1-2_1-4:before,
.icon-columns-1-5_1-5_1-5_1-5_1-5:before,
.icon-columns-1-4_1-4_1-4_1-4:before,
.icon-columns-1-6_1-6_1-6_1-6_1-6_1-6:before,
.icon-columns-2-3_1-3:before,
.icon-columns-5-6_1-6:before,
.icon-columns-3-4_1-4:before,
.icon-columns-1-3_1-3_1-3:before,
.icon-rich-text:before {
	font-family             : 'CodeField';
	speak                   : none;
	font-style              : normal;
	font-weight             : normal;
	font-variant            : normal;
	text-transform          : none;
	line-height             : 1;

	/* Better Font Rendering =========== */
	font-smoothing          : antialiased;
	text-rendering          : optimizeLegibility;

	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

.icon-folder-stroke:before {
	content : "\e600";
}

.icon-folder-fill:before {
	content : "\e601";
}

.icon-map2:before {
	content : "\e602";
}

.icon-map:before {
	content : "\e603";
}

.icon-columns-1-2_1-2:before {
	content : "\e604";
}

.icon-columns-1-2_1-4_1-4:before {
	content : "\e605";
}

.icon-columns-1-4_1-2_1-4:before {
	content : "\e607";
}

.icon-columns-1-5_1-5_1-5_1-5_1-5:before {
	content : "\e608";
}

.icon-columns-1-4_1-4_1-4_1-4:before {
	content : "\e609";
}

.icon-columns-1-6_1-6_1-6_1-6_1-6_1-6:before {
	content : "\e60a";
}

.icon-columns-2-3_1-3:before {
	content : "\e60b";
}

.icon-columns-5-6_1-6:before {
	content : "\e60c";
}

.icon-columns-3-4_1-4:before {
	content : "\e60d";
}

.icon-columns-1-3_1-3_1-3:before {
	content : "\e606";
}

.icon-rich-text:before {
	content : "\e60e";
}
