.codefield-modal.spirebuilder-modal-edit-options.spirebuilder-widget-modal-text {
	margin-left: -600px;
	width: 1100px;
}
.codefield-modal.spirebuilder-modal-edit-options.spirebuilder-widget-modal-text [name="text_content"] {
	height: 27em;
}