.codefield-accordion-group {
	zoom : 1; /* IE has layout issues when sorting (see #5413) */
}

/* =Header.
 -------------------------------------------------------------- */
.codefield-accordion .ui-accordion-header {
	background    : linear-gradient(to top, #ececec, #f9f9f9) repeat scroll 0 0 #f1f1f1;
	border        : 1px solid #cccccc;
	border-radius : 4px;
	font-size     : 14px !important;
	font-style    : normal;
	font-weight   : normal;
	margin        : 0;
	padding       : 0.6em !important;
}

.codefield-accordion .ui-accordion-header .codefield-accordion-title {
	font-family : sans-serif;
	font-size   : 14px !important;
}

.codefield-accordion .ui-accordion-header.ui-state-active {
	background                 : linear-gradient(to top, #f9f9f9, #ececec) repeat scroll 0 0 #f1f1f1 !important;
	border                     : 1px solid #aaaaaa !important;
	border-bottom-left-radius  : 0;
	border-bottom-right-radius : 0;
	border-bottom-style        : dotted !important;
}

.codefield-accordion .ui-accordion-header.ui-state-hover {
	border-color : #aaaaaa;
}

.codefield-accordion .codefield-accordion-group + .codefield-accordion-group {
	margin-top : 0.5em !important;
}

.codefield-accordion .ui-accordion-header:hover {
	cursor : pointer !important;
}

.codefield-accordion .ui-accordion-header > .ui-accordion-header-icon {
	margin-right : 0.4em;
	opacity      : 0.8;
}

.codefield-accordion .ui-accordion-header > .ui-accordion-header-icon:before {
	display : inline !important;
}

/* =Content.
 -------------------------------------------------------------- */
.codefield-accordion .ui-accordion-content {
	background-color           : white;
	border                     : 1px solid #aaaaaa;
	border-top                 : 0;
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
	padding                    : 0.6em;
}