@import "accordion.min.css";

.codefield-accordion .ui-accordion-header > .spirebuilder-widget-accordion-actions {
	float       : right;
	text-shadow : none;
}

.codefield-accordion .ui-accordion-header > .spirebuilder-widget-accordion-actions i {
	margin-left : 0.3em;
	opacity     : 0.6 !important;
}

.codefield-accordion .ui-accordion-header > .spirebuilder-widget-accordion-actions i:hover {
	opacity : 1 !important;
}

.codefield-accordion .ui-accordion-header > .spirebuilder-widget-accordion-actions .tooltip {
	font-family : sans-serif;
}

.spirebuilder-widget-accordion-control-add {
	background    : white;
	border-radius : 4px;
	cursor        : pointer;
	font-style    : normal;
	font-weight   : normal;
	margin-top    : 0.5em;
	padding       : 0.6em !important;
	text-align    : center;
}

.spirebuilder-widget-accordion-control-add a {
	color : #217346 !important;
}

.spirebuilder-widget-accordion-control-add i {
	opacity        : 0.7;
	vertical-align : bottom;
}

.spirebuilder-widget-accordion-control-add:hover i {
	opacity : 1;
}