#spirebuilder-widget-options-rich-text iframe {
	display : block;
	height  : 36em;
	width   : 100%;
}

.codefield-modal.spirebuilder-modal-edit-options.spirebuilder-widget-modal-rte {
	margin-left : -600px;
	width       : 1100px;
}

.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content {
	font-family : inherit;
}

.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content h1,
.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content h2,
.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content h3,
.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content h4,
.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content h5,
.spirebuilder-widget-rich-text .spirebuilder-widget-field-text_content h6 {
	margin-top : 0 !important;
}