.codefield-checkbox-switcher-container {
	display: inline-block;
	margin-right: 0.5em;
	height:15px;
	width:28px;
	position: relative;
    vertical-align: middle;
}
.codefield-checkbox-switch {
	cursor: pointer;
	height:15px;
	width:28px;
	background-image:url('../images/switch.png');
	background-repeat: none;
	background-position:0px;
}