@import "tabs-general.min.css";
@import "tabs-vertical.min.css";

.spirebuilder-widget-tabs .codefield-tabs .ui-tabs-panel {
	border-bottom : none !important;
}

.spirebuilder-widget-tabs .spirebuilder-widget-tabs-actions {
	background-color : #999999;
	border-radius    : 10px;
	color            : white;
	display          : none;
	padding          : 0.2em 0.5em;
	position         : absolute;
	right            : -0.5em;
	top              : -1em;
	z-index          : 1;
}

.spirebuilder-widget-tabs .spirebuilder-widget-tabs-actions:hover {
	background-color : #b94a48;
}

.spirebuilder-widget-tabs .spirebuilder-widget-tabs-actions i {
	opacity : 1;
}

.spirebuilder-widget-tabs .spirebuilder-widget-tabs-actions i:hover {
	cursor  : pointer;
	opacity : 0.8;
}

.spirebuilder-widget-tabs .spirebuilder-widget-tabs-actions i + i, .spirebuilder-widget-tabs .spirebuilder-widget-tabs-actions div + i {
	margin-left : 0.5em;
}

.spirebuilder-widget-tabs-control-add {
	color      : #217346 !important;
	font-size  : 1em !important;
	opacity    : 0.7;
	text-align : left !important;
}

.spirebuilder-widget-tabs-control-add i {
	vertical-align : bottom;
}

.spirebuilder-widget-tabs-control-add:hover {
	opacity : 1;
}

.codefield-tabs > .ui-tabs-nav > .codefield-sortable-not {
	background : white;
	border     : none;
}

.codefield-tabs-alignment-type-vertical .codefield-sortable-not {
	width : 96%;
}

.codefield-tabs-alignment-type-horizontal .spirebuilder-widget-tabs-control-add span {
	display : none;
}

#spirebuilder-builder-toolbar .icon-folder-stroke:before {
	font-size      : 1.1em;
	vertical-align : 1%;
}

#spirebuilder-dialog-widget-list .icon-folder-stroke {
	font-size : 1.7em;
}