/* =General. First Level Tabs.
 -------------------------------------------------------------- */
.codefield-tabs.ui-tabs {
	background : none;
	border     : none;
	padding    : 0;
}

.codefield-tabs > .ui-tabs-nav {
	background                 : transparent !important;
	border                     : none;
	border-bottom              : 1px solid #aaaaaa;
	border-bottom-left-radius  : 0;
	border-bottom-right-radius : 0;
	padding                    : 0 0 0 1em;
}

.codefield-tabs > .ui-tabs-nav li {
	background              : linear-gradient(to top, #ececec, #f9f9f9) repeat scroll 0 0 #f1f1f1;
	border-left             : 1px solid #d3d3d3;
	border-top              : 1px solid #d3d3d3;
	border-right            : 1px solid #d3d3d3;
	border-top-right-radius : 4px;
	border-top-left-radius  : 4px;
	margin-right            : 0.5em;
}

.codefield-tabs > .ui-tabs-nav li.ui-state-hover {
	border-left  : 1px solid #aaaaaa;
	border-top   : 1px solid #aaaaaa;
	border-right : 1px solid #aaaaaa;
}

.codefield-tabs > .ui-tabs-nav li.ui-state-active {
	background     : white;
	border-left    : 1px solid #aaaaaa !important;
	border-top     : 1px solid #aaaaaa !important;
	border-right   : 1px solid #aaaaaa !important;
	padding-bottom : 1px !important;
}

.codefield-tabs > .ui-tabs-nav li a {
	color     : #21759b;
	font-size : 1.1em;
}

.codefield-tabs > .ui-tabs-nav li.ui-state-active a {
	color : #d54e21 !important;
}

.codefield-tabs > .ui-tabs-panel {
	background-repeat          : repeat-x;
	border-bottom-right-radius : 0;
	border-bottom-left-radius  : 0;
	margin-bottom              : 1em;
	padding                    : 0.8em 0.8em 0 0.8em;
}