/* =Vertical Tabs.
 -------------------------------------------------------------- */
.codefield-tabs-alignment-type-vertical {
	background : none repeat scroll 0 0 transparent !important;
	border     : none;
	padding    : 0;
	position   : relative;
	width      : 100%;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav {
	background : transparent;
	border     : none !important;
	padding    : 0 !important;
	position   : absolute;
	top        : 0;
	left       : 0;
	width      : 12.8em;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li {
	background     : none repeat scroll 0 0 transparent;
	border         : none !important;
	margin         : 0 0 0.7em 0 !important;
	padding-bottom : 0 !important;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li.codefield-tabs-alignment-type-vertical-header {
	color          : #545454;
	font-weight    : bold;
	padding-bottom : 0.2em;
	padding-top    : 1.5em;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li a {
	border-color : transparent;
	border-style : solid;
	border-width : 1px;
	color        : #545454;
	float        : left;
	line-height  : normal;
	padding      : 0.6em 0.8em;
	text-shadow  : 0 1px 1px rgba(255, 255, 255, 0.75);
	width        : 9.5em;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li .codefield-icon {
	opacity : 0.5;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li.ui-state-hover .codefield-icon, .codefield-tabs-alignment-type-vertical .ui-tabs-nav li.ui-state-active .codefield-icon {
	opacity : 1;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li.ui-state-hover a {
	border-style      : solid;
	border-width      : 1px;
	background-color  : #e6e6e6;
	background-image  : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image  : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : -ms-linear-gradient(top, #ffffff, #e6e6e6);
	filter            : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#E6E6E6');
	background-image  : -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat : no-repeat;
	border-color      : #cccccc #cccccc #bbbbbb;
	border-radius     : 4px;
	box-shadow        : 0 1px 2px 0 #b5b5b5;
	color             : #545454;
	float             : left;
	line-height       : normal;
	padding           : 0.6em 0.8em;
	text-shadow       : 0 1px 1px rgba(255, 255, 255, 0.75);
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li.ui-state-active {
	border                    : none !important;
	border-top-left-radius    : 6px;
	border-top-right-radius   : 0;
	border-bottom-left-radius : 6px;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li.ui-state-active a {
	background-image  : -moz-linear-gradient(center top, #d2cece, #d2cece 25%, #f1f1f1);
	background-image  : -webkit-linear-gradient(top, #d2cece, #f1f1f1);
	background-image  : -ms-linear-gradient(top, #d2cece, #f1f1f1);
	filter            : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#D2CECE', endColorstr='#F1F1F1');
	background-image  : -o-linear-gradient(top, #d2cece, #f1f1f1);
	background-image  : linear-gradient(top, #d2cece, #f1f1f1);
	background-repeat : no-repeat !important;
	border            : 1px solid #a5a0a0 !important;
	color             : #d54e21;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-nav li.ui-state-active a {
	background-image : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image : -ms-linear-gradient(top, #ffffff, #e6e6e6);
	filter           : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#E6E6E6');
	background-image : -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image : linear-gradient(top, #ffffff, #e6e6e6);
	border           : 1px solid #a5a0a0;
	border-radius    : 4px;
}

.codefield-tabs-alignment-type-vertical .ui-tabs-panel {
	background     : white !important;
	border-left    : 1px solid #d3d3d3;
	border-radius  : 0;
	margin         : 1px 0 0 12.8em;
	min-height     : 10em;
	padding-left   : 2em;
	padding-top    : 0;
	padding-bottom : 0;
}

.codefield-tabs-alignment-type-vertical .spirebuilder-widget-tabs-control-add {
	text-align : center;
}

.codefield-tabs-alignment-type-vertical .spirebuilder-widget-tabs-actions {
	text-shadow : none;
	top         : -1em;
}