/* =Boxes.
 -------------------------------------------------------------- */
.spirebuilder-box {
	border-radius : 4px;
	box-shadow    : 0 1px 8px 0 #b5b5b5;
}

.spirebuilder-box + .spirebuilder-box {
	margin-top : 2em;
}

.spirebuilder-box .spirebuilder-box-header {
	background-image        : linear-gradient(to bottom, #ffffff, #e7ebef);
	border                  : 1px solid #aaaaaa;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
}

.spirebuilder-box .spirebuilder-box-header h4 {
	font-size   : 14px !important;
	font-style  : normal;
	font-weight : normal;
	margin      : 0;
	padding     : 0.6em;
}

.spirebuilder-box .spirebuilder-box-header h4 i {
	margin-right : 0.2em;
}

.spirebuilder-box.spirebuilder-box-folded .spirebuilder-box-header {
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
}

.spirebuilder-box .spirebuilder-box-header .spirebuilder-actions {
	border-left : 1px solid #bbbbbb;
	float       : right;
	font-size   : 1.2em;
	padding     : 0.5em 0.9em 0.5em 0.8em;
}

.spirebuilder-box .spirebuilder-box-header .spirebuilder-actions i {
	opacity : 0.6;
}

.spirebuilder-box .spirebuilder-box-header .spirebuilder-actions i + i,
.spirebuilder-box .spirebuilder-box-header .spirebuilder-actions div + i {
	margin-left : 0.5em;
}

.spirebuilder-box .spirebuilder-box-header .spirebuilder-actions i:hover {
	cursor             : pointer;
	opacity            : 1;

	-webkit-transition : all 0.1s ease-in-out 0s;
	-moz-transition    : all 0.1s ease-in-out 0s;
	-o-transition      : all 0.1s ease-in-out 0s;
	transition         : all 0.1s ease-in-out 0s;
}

.spirebuilder-box .spirebuilder-box-content {
	background-color           : white;
	border                     : 1px solid #aaaaaa;
	border-top                 : 0;
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
	padding                    : 0.6em;
}

.spirebuilder-box .spirebuilder-box-content .row-fluid:last-child .spirebuilder-box {
	margin-bottom : 0;
}

.spirebuilder-widget {
	position : relative;
}

.spirebuilder-widget > .spirebuilder-box .spirebuilder-box-header {
	background    : white;
	border-bottom : none;
}

.spirebuilder-widget > .spirebuilder-box.spirebuilder-box-unfolded .spirebuilder-box-header {
	border-bottom : none;
}

.spirebuilder-widget > .spirebuilder-box.spirebuilder-box-folded .spirebuilder-box-header {
	border-bottom : 1px solid #aaaaaa;
}

.spirebuilder-widget > .spirebuilder-box .spirebuilder-box-header .spirebuilder-actions {
	border-left : none;
}

.spirebuilder-box .spirebuilder-box-header:hover {
	cursor : move;
}