/* =Builder. Boxes.
 -------------------------------------------------------------- */
@import "box.min.css";

#wpbody-content {
	overflow : visible !important;
}

/* =Builder. General.
 -------------------------------------------------------------- */
#spirebuilder_builder .inside {
	margin   : 0;
	padding  : 0;
	position : relative;
}

#spirebuilder_builder .codefield-page {
	padding-top : 0.5em;
}

/* =Builder. Widgets List.
 -------------------------------------------------------------- */
.spirebuilder-widgets-list {
	margin-top : 0;
}

.spirebuilder-widgets-list > li {
	display        : inline-block;
	margin-bottom  : 0;
	margin-right   : 0.5em;
	text-align     : center;
	vertical-align : middle;
}

.spirebuilder-widgets-list > li.spirebuilder-item-has-button {
	display : none;
}

.spirebuilder-widgets-list > li button {
	/*cursor : pointer;*/
}

.spirebuilder-widgets-list > li i {
	display : block;
	width   : 100%;
}

/* =Builder. Dropzone.
 -------------------------------------------------------------- */
#spirebuilder-editzone {
	margin : 1em;
}

#spirebuilder-editzone > .spirebuilder-dropzone {
	border  : 2px dashed gray;
	padding : 1em;
}

.spirebuilder-dropzone {
	background    : #dadada;
	border        : 1px dashed gray;
	border-radius : 4px;
	cursor        : pointer;
	text-align    : center;
}

.spirebuilder-dropzone i {
	opacity : 0.5;
}

.spirebuilder-dropzone:hover {
	background : #adffb2;
}

.spirebuilder-dropzone:hover i {
	opacity : 1;
}

.spirebuilder-dropzone .spirebuilder-dropzone {
	border-width : 1px;
}

.codefield-bg-yellow {
	background : #fffbb1;
}

.codefield-bg-green {
	background : #adffb2;
}

#spirebuilder-editzone-info {
	text-align : center;
}

#spirebuilder-editzone-info img {
	display      : block;
	margin-left  : auto;
	margin-right : auto;
	opacity      : 0.8;
}

/* =Builder. Modal.
 -------------------------------------------------------------- */
.codefield-modal a.btn {
	text-decoration : none;
}

.codefield-modal .modal-header h4 {
	font-size     : 1.5em;
	font-weight   : normal;
	margin-bottom : 0.2em;
	margin-top    : 0.4em;
}

/* =Builder. Settings Tab.
 -------------------------------------------------------------- */
#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-settings .spirebuilder-tab-border {
	border-top : 2px groove #21759b;
	left       : 0;
	top        : -1px;
	width      : 100%;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-settings {
	border-color   : #f8f8f8;
	padding-bottom : 0 !important;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-settings.ui-state-hover {
	border-color : #21759b #21759b #1e6a8d;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-settings.ui-state-active {
	border-color        : #21759b #21759b #1e6a8d;
	border-bottom-color : #21759b !important;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-settings > a {
	background-color        : #21759b;
	background-image        : linear-gradient(to bottom, #2a95c5, #21759b) !important;
	border-color            : white;
	border-top-right-radius : 3px;
	border-top-left-radius  : 3px;

	color                   : white !important;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-settings.ui-state-active > a {
	background-color : #21759b;
	background-image : linear-gradient(to bottom, #2aa3d3, #2979a5) !important;
}

/* =Builder. Tabs.
 -------------------------------------------------------------- */
#spirebuilder_builder .codefield-page .codefield-tabs .ui-tabs-panel {
	background-color : white;
	margin-bottom    : 0;
}

/* Builder. Widget categories tabs. Border. */
/*.codefield-page .codefield-tabs > .ui-tabs-nav li {*/
/*background         : #f8f8f8;*/

/*border-left-color  : #f8f8f8;*/
/*border-right-color : #f8f8f8;*/
/*border-top-color   : #f8f8f8;*/

/*margin-right       : 0.5em;*/
/*}*/

#spirebuilder_builder .codefield-page .codefield-tabs > .ui-tabs-panel {
	border-bottom : 1px solid #dddddd;
}

/* =Builder. Settings Tab. Content.
 -------------------------------------------------------------- */
#spirebuilder-settings.ui-tabs-panel {
	padding-right : 0;
	padding-left  : 0;
}

#spirebuilder-settings .codefield-tabs-second-lvl .ui-tabs-panel {
	padding : 0;
}

#spirebuilder-settings.ui-tabs-panel .codefield-tabs-second-lvl .form-table th {
	padding-left : 3em;
}

/* =Builder. Widgets Tab.
 -------------------------------------------------------------- */
#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-widgets-list li button {
	/*color: #21759B;*/
	height : auto;
	/*padding-top : 0.2em;*/
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-widgets-list li > a {
	height : auto;
	/*padding : 0.4em 0.3em 1px 0.4em;*/
}

/* =Builder. Toolbar tabs.
 -------------------------------------------------------------- */
.spirebuilder-widgets-list > li.spirebuilder-toolbar-text-after-icons button i.icon-large {
	vertical-align : 10% !important;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-text-after-icons i.icon-large {
	vertical-align : bottom !important;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-text-after-icons i.icon-2x {
	vertical-align : -12% !important;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-text-after-icons i {
	display : inline;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-text-below-icons i {
	margin : auto;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-icons-only button i.icon-2x {
	margin-bottom : 0.17em;
	margin-top    : 0.17em;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-icons-only i {
	display : inline-block;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-icons-only .spirebuilder-text {
	display : none;
}

.spirebuilder-widgets-list > li.spirebuilder-toolbar-text-only .icon {
	display : none;
}

/* =Builder. Toolbar tabs. Draggables.
 -------------------------------------------------------------- */
.spirebuilder-widgets-list > li .ui-draggable-dragging {
	cursor : move;
}

/* =Builder. Toolbar tabs. Fixed position.
 -------------------------------------------------------------- */
#spirebuilder-builder-toolbar.codefield-position-fixed {
	background-color : #fdfdfd;
	box-shadow       : 0 2px 4px #333333;
	left             : 166px;
	top              : 28px;
	right            : 0;
	width            : 68.65%;
	z-index          : 1000;
}

#spirebuilder-builder-toolbar.codefield-position-fixed + #spirebuilder-editzone {
	margin-top : 9.7em;
}

/* =Builder. Dropzone Little.
 -------------------------------------------------------------- */
.spirebuilder-dropzone-little {
	background-color : transparent;
	cursor           : pointer;
	line-height      : 1;
	margin           : 0.8em 0.2em;
	text-align       : center;
}

.spirebuilder-dropzone-little:hover {
	background    : #adffb2;
	border-radius : 4px;
}

.spirebuilder-dropzone-little.codefield-bg-yellow .spirebuilder-dropzone-info {
	background : #fffbb1;
}

.spirebuilder-dropzone-little.codefield-bg-green .spirebuilder-dropzone-info {
	background : #adffb2;
}

.spirebuilder-dropzone-little .spirebuilder-dropzone-info {
	border-radius : 4px 4px 4px 4px;
	color         : black;
	display       : inline-block;
	overflow      : hidden;
	padding       : 0.5em 0;
}

.spirebuilder-dropzone-little .spirebuilder-dropzone-info i {
	margin-left  : 0.5em;
	margin-right : 0.5em;
	opacity      : 0.5;
}

.spirebuilder-dropzone-little:hover .spirebuilder-dropzone-info i {
	opacity : 1;
}

.spirebuilder-dropzone > .spirebuilder-dropzone-info {
	min-height : 2em;
	padding    : 0.5em;
}

/* =Builder. Add new widget dialog.
 -------------------------------------------------------------- */
#spirebuilder-dialog-widget-list .modal-body {
	overflow-y : hidden;
}

#spirebuilder-dialog-widget-list .ui-tabs-panel {
	padding-right : 0;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list {
	/*max-height    : 400px !important;*/
	padding-right : 1.8em;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list > li {
	margin-bottom : 0.8em !important;
	text-align    : left;
	width         : 100%;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list > li a {
	border          : 1px solid white;
	border-radius   : 4px;
	color           : #545454;
	display         : block;
	padding         : 0.6em 0.8em;
	text-decoration : none;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list > li a:hover {
	border-style      : solid;
	border-width      : 1px;
	background-color  : #e6e6e6;
	background-image  : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image  : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : -ms-linear-gradient(top, #ffffff, #e6e6e6);
	filter            : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#E6E6E6');
	background-image  : -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat : no-repeat;
	border-color      : #a5a0a0;
	box-shadow        : 0 1px 2px 0 #b5b5b5;
	color             : #d54e21;
	text-shadow       : 0 1px 1px rgba(255, 255, 255, 0.75);
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list > li i {
	display      : inline-block;
	margin-right : 0.6em;
	width        : auto;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list > li a .spirebuilder-header {
	font-size : 1.1em;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list > li a .clearfix {
	clear : both !important;
}

#spirebuilder-templates-empty-message.codefield-display-none {
	display : none;
}

/* =Builder. Toolbar items.
 -------------------------------------------------------------- */
#spirebuilder-builder-toolbar .spirebuilder-widgets-list > li a {
	border          : 1px solid white;
	border-radius   : 4px;
	color           : #545454;
	display         : block;
	min-width       : 3.2em;
	padding         : 0.4em 0.5em;
	text-decoration : none;
}

#spirebuilder-builder-toolbar .spirebuilder-widgets-list > li a:hover,
.spirebuilder-toolbar-item-helper {
	border-style      : solid;
	border-width      : 1px;
	background-color  : #e6e6e6;
	background-image  : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image  : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : -ms-linear-gradient(top, #ffffff, #e6e6e6);
	filter            : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#E6E6E6');
	background-image  : -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat : no-repeat;
	border-color      : #a5a0a0;
	box-shadow        : 0 1px 2px 0 #b5b5b5;
	color             : #d54e21;
	text-shadow       : 0 1px 1px rgba(255, 255, 255, 0.75);
}

.spirebuilder-toolbar-item-helper {
	-webkit-transform : rotate(-10deg);
	-ms-transform     : rotate(-10deg);
	transform         : rotate(-10deg);
}

.spirebuilder-modal-edit-options.modal {
	margin-left : -400px;
	width       : 800px;
}

.spirebuilder-modal-edit-options.modal .modal-body {
	max-height : inherit !important;
}

.spirebuilder-modal-edit-options.modal .codefield-tabs-second-lvl .ui-tabs-panel {
	min-height : 20em;
}

.codefield-modal .form-table td {
	padding-left : 0;
	padding-top  : 0;
}

.codefield-modal table th h2 {
	color          : #464646 !important;
	padding-bottom : 0.4em !important;
}

h1 small,
h2 small,
h3 small,
h4 small {
	color       : #999999;
	font-size   : 0.8em;
	font-style  : italic;
	font-weight : normal;
	line-height : 1;
}

#spirebuilder-dialog-widget-list .spirebuilder-widgets-list li a .description {
	width : 22em !important;
}

/* =Builder.Colorpicker.
 -------------------------------------------------------------- */
.codefield-colorpicker-field {
	background : url('../images/icons/colorpicker.png') no-repeat scroll 98% 50% transparent;
	border     : 1px solid gray !important;
}

.spirebuilder-color-selector {
	background : none repeat scroll 0 0 #eeeeee;
	border     : 1px solid #cccccc;
	position   : absolute;
	z-index    : 2;
}

.spirebuilder-widget-draggable-placeholder {
	opacity : 0.2;
}

.spirebuilder-widget.ui-draggable-dragging {
	-webkit-transform : rotate(-2deg);
	-ms-transform     : rotate(-2deg);
	transform         : rotate(-2deg);
	width             : 100% !important;
}

/* =Builder.Template.
 -------------------------------------------------------------- */
#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-templates.ui-state-hover {
	border-color : #2a945c #2a945c #217346;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-templates.ui-state-active {
	border-color        : #2a945c #2a945c #217346;
	border-bottom-color : #2a945c !important;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-templates > a {
	background-color        : #217346;
	background-image        : linear-gradient(to bottom, #2a945c, #217346) !important;
	border-color            : white;
	border-top-right-radius : 3px;
	border-top-left-radius  : 3px;

	color                   : white !important;
}

#spirebuilder_builder .codefield-page .codefield-tabs .spirebuilder-templates.ui-state-active > a {
	background-color : #2a945c;
	background-image : linear-gradient(to bottom, #33b170, #248251) !important;
}

#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-templates .spirebuilder-tab-border {
	border-top : 2px groove #2a945c;
	left       : 0;
	top        : -1px;
	width      : 100%;
}

#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-templates .spirebuilder-widgets-list .spirebuilder-widget-template {
	position : relative;
}

#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-templates .spirebuilder-widgets-list .spirebuilder-widget-template .badge {
	display  : none;
	position : absolute;
	right    : -0.6em;
	top      : -0.8em;
}

#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-templates .codefield-display-none {
	display : none;
}

#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-templates .spirebuilder-templates-empty-message {
	width : 100%;
}

#spirebuilder_builder .codefield-page .codefield-tabs #spirebuilder-templates .spirebuilder-templates-empty-message div {
	margin-bottom : 0;
}

/* =Builder.Template. Add Widget Modal.
 -------------------------------------------------------------- */
#spirebuilder-dialog-widget-list .codefield-tabs-second-lvl .spirebuilder-widget-separator {
	width : 90%;
}

#spirebuilder-dialog-widget-list .codefield-tabs-second-lvl .spirebuilder-widget-separator a {
	padding-left  : 0;
	padding-right : 0;
	width         : 100%;
}

#spirebuilder-dialog-widget-list .codefield-tabs-second-lvl #spirebuilder-widget-list-templates .spirebuilder-widgets-list li i {
	float          : none;
	vertical-align : middle;
}

/* =Builder. Modals.
 -------------------------------------------------------------- */
.modal.fade {
	-webkit-transition : opacity .2s linear, top .2s ease-out !important;
	-moz-transition    : opacity .2s linear, top .2s ease-out !important;
	-o-transition      : opacity .2s linear, top .2s ease-out !important;
	transition         : opacity .2s linear, top .2s ease-out !important;
}