/* =Helpers.
 -------------------------------------------------------------- */
@import "helpers.min.css";

/* =General.
 -------------------------------------------------------------- */
#codefield-hidden {
	display : none;
}

/* =General. WordPress.
 -------------------------------------------------------------- */
label .description {
	display        : inline;
	vertical-align : inherit;
}

.description {
	display        : inline-block;
	vertical-align : middle;
}

/* =General. Global Messages.
 -------------------------------------------------------------- */
.codefield-message-dashboard {
	margin-right : 0.8em;
}

.codefield-message-dashboard .close {
	font-size   : 1em;
	font-weight : bold !important;
}

/* =General. Colors.
 -------------------------------------------------------------- */
.codefield-color-red {
	color : red;
}

.codefield-color-green {
	color : green;
}

/* =General. jQuery Uniform fields.
 -------------------------------------------------------------- */
div.checker {
	margin-right : 0;
}

/* =General. jQuery UI.
 -------------------------------------------------------------- */
/*.codefield-page .ui-tabs-panel a {*/
/*color : #21759b;*/
/*}*/

.codefield-page .ui-tabs-panel a:hover {
	color : #d54e21;
}

/* =General. Forms.
 -------------------------------------------------------------- */
.codefield-page .form-table th {
	white-space : nowrap;
	width       : 140px;
}

.codefield-page label {
	color : #545454;
}

tr.codefield-submit-tr {
	background-color : #fffbda;
	border-top       : 1px solid #dc9a00;
}

/* =General. Forms. Ajax Loader.
 -------------------------------------------------------------- */
.codefield-submit-tr button i {
	margin-right   : 0.1em;
	vertical-align : text-top;
}

/* =General. First Level Tabs.
 -------------------------------------------------------------- */
.codefield-page .codefield-tabs.ui-tabs {
	background : none;
	border     : none;
	padding    : 0;
}

.codefield-page .codefield-tabs > .ui-tabs-nav {
	background                 : transparent !important;
	border                     : none;
	border-bottom              : 1px solid #aaaaaa;
	border-bottom-left-radius  : 0;
	border-bottom-right-radius : 0;
	padding                    : 0 0 0 1em;
}

.codefield-tabs > .ui-tabs-nav li {
	background              : linear-gradient(to top, #ececec, #f9f9f9) repeat scroll 0 0 #f1f1f1;
	border-left             : 1px solid #d3d3d3;
	border-top              : 1px solid #d3d3d3;
	border-right            : 1px solid #d3d3d3;
	border-top-right-radius : 4px;
	border-top-left-radius  : 4px;
	margin-right            : 0.5em;
}

.codefield-tabs > .ui-tabs-nav li.ui-state-hover {
	border-left  : 1px solid #aaaaaa;
	border-top   : 1px solid #aaaaaa;
	border-right : 1px solid #aaaaaa;
}

.codefield-tabs > .ui-tabs-nav li.ui-state-active {
	background     : white;
	border-left    : 1px solid #aaaaaa !important;
	border-top     : 1px solid #aaaaaa !important;
	border-right   : 1px solid #aaaaaa !important;
	padding-bottom : 1px !important;
}

.codefield-tabs > .ui-tabs-nav li a {
	color     : #21759b;
	font-size : 1.1em;
}

.codefield-tabs > .ui-tabs-nav li.ui-state-active a {
	color : #d54e21 !important;
}

.codefield-tabs > .ui-tabs-panel {
	background-repeat          : repeat-x;
	border-bottom-right-radius : 0;
	border-bottom-left-radius  : 0;
	margin-bottom              : 1em;
	padding                    : 0.8em 0.8em 0 0.8em;
}

/* =General. Second Level Tabs.
 -------------------------------------------------------------- */
.codefield-tabs-second-lvl {
	background : none repeat scroll 0 0 transparent !important;
	border     : none;
	padding    : 0;
	position   : relative;
	width      : 100%;
}

.codefield-tabs-second-lvl .ui-tabs-nav {
	background : transparent;
	border     : none;
	padding    : 0;
	position   : absolute;
	top        : 0;
	left       : 0;
	width      : 12.8em;
}

.codefield-tabs-second-lvl .ui-tabs-nav li {
	background     : none repeat scroll 0 0 transparent;
	border         : 1px solid transparent !important;
	margin         : 0 0 0.7em 0 !important;
	padding-bottom : 0 !important;
}

.codefield-tabs-second-lvl .ui-tabs-nav li.codefield-tabs-second-lvl-header {
	color          : #545454;
	font-weight    : bold;
	padding-bottom : 0.2em;
	padding-top    : 1.5em;
}

.codefield-tabs-second-lvl .ui-tabs-nav li a {
	border-color : transparent;
	border-style : solid;
	border-width : 1px;
	color        : #545454;
	float        : left;
	line-height  : normal;
	padding      : 0.6em 0.8em;
	text-shadow  : 0 1px 1px rgba(255, 255, 255, 0.75);
	width        : 10em;
}

.codefield-tabs-second-lvl .ui-tabs-nav li .codefield-icon {
	opacity : 0.5;
}

.codefield-tabs-second-lvl .ui-tabs-nav li.ui-state-hover .codefield-icon, .codefield-tabs-second-lvl .ui-tabs-nav li.ui-state-active .codefield-icon {
	opacity : 1;
}

.codefield-tabs-second-lvl .ui-tabs-nav li.ui-state-hover a {
	border-style      : solid;
	border-width      : 1px;
	background-color  : #e6e6e6;
	background-image  : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image  : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : -ms-linear-gradient(top, #ffffff, #e6e6e6);
	filter            : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#E6E6E6');
	background-image  : -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image  : linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat : no-repeat;
	border-color      : #cccccc #cccccc #bbbbbb;
	border-radius     : 4px;
	box-shadow        : 0 1px 2px 0 #b5b5b5;
	color             : #545454;
	float             : left;
	line-height       : normal;
	padding           : 0.6em 0.8em;
	text-shadow       : 0 1px 1px rgba(255, 255, 255, 0.75);
	width             : 10em;
}

.codefield-tabs-second-lvl .ui-tabs-nav li.ui-state-active {
	border-right              : none !important;
	border-top-left-radius    : 6px !important;
	border-top-right-radius   : 0 !important;
	border-bottom-left-radius : 6px !important;
}

.codefield-tabs-second-lvl .ui-tabs-nav li.ui-state-active a {
	background-image  : -moz-linear-gradient(center top, #d2cece, #d2cece 25%, #f1f1f1);
	background-image  : -webkit-linear-gradient(top, #d2cece, #f1f1f1);
	background-image  : -ms-linear-gradient(top, #d2cece, #f1f1f1);
	filter            : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#D2CECE', endColorstr='#F1F1F1');
	background-image  : -o-linear-gradient(top, #d2cece, #f1f1f1);
	background-image  : linear-gradient(top, #d2cece, #f1f1f1);
	background-repeat : no-repeat !important;
	border            : 1px solid #a5a0a0 !important;
	color             : #d54e21;
}

.codefield-tabs-second-lvl .ui-tabs-nav li.ui-state-active a {
	background-image : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image : -ms-linear-gradient(top, #ffffff, #e6e6e6);
	filter           : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#E6E6E6');
	background-image : -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image : linear-gradient(top, #ffffff, #e6e6e6);
	border           : 1px solid #a5a0a0;
	border-radius    : 4px;
}

.codefield-tabs-second-lvl .ui-tabs-panel {
	background     : white !important;
	border-left    : 1px solid #d3d3d3;
	border-radius  : 0;
	margin         : 1px 0 0 12.8em;
	min-height     : 50em;
	padding-left   : 2em;
	padding-top    : 0;
	padding-bottom : 0;
}

/* =General. Second Level Tabs. Tables
 -------------------------------------------------------------- */
.codefield-tabs-second-lvl table table td {
	font-size : 12px !important;
}

.codefield-tabs-second-lvl table th {
	padding-right : 0;
}

.codefield-tabs-second-lvl table td {
	padding-left : 3em;
}

tr.codefield-submit-tr {
	background-color : #fffbda;
	border-top       : 1px solid #dc9a00;
}

.codefield-tabs-second-lvl table tr:first-of-type th {
	padding-top : 0;
}

table th h2 {
	border-bottom  : 1px dotted gray;
	font-size      : 1.5em !important;
	font-weight    : normal !important;
	margin         : 0 !important;
	padding-bottom : 0 !important;
	padding-top    : 0 !important;
	width          : 97%;
}

/* =General. Icons.
 -------------------------------------------------------------- */
.codefield-page .icon-spin {
	height : inherit !important;
}

/* =General. Select.
 -------------------------------------------------------------- */
.select-container {
	width : 20em;
}

.select-container input[type="text"] {
	height : 100% !important;
	width  : 100% !important;
}

.select-container .chzn-choices li {
	float        : none;
	margin-right : 0.4em !important;
}

/* =Tooltips.
 -------------------------------------------------------------- */
.tooltip {
	font-size : 12px !important;
}

/* =Growl.
 -------------------------------------------------------------- */
#growls.default {
	top : 25px !important;
}