.codefield-position-relative {
	position : relative;
}

.codefield-position-absolute {
	position : absolute;
}

.codefield-position-fixed {
	position : fixed;
}

.codefield-display-none {
	display : none;
}

.codefield-display-inline-block {
	display : inline-block;
}

.codefield-wide {
	width : 100%;
}

.codefield-half-wide {
	width : 50%;
}

.codefield-quarter-wide {
	width : 25%;
}

.codefield-border-bottom-dashed {
	border-bottom : 1px dashed #bbbbbb;
}

.codefield-cursor-dragging-over {
	cursor : move;
}

.codefield-capitalize {
	text-transform : capitalize;
}

.codefield-margin-bottom {
	margin-bottom : 0.5em;
}

.codefield-text-align-left {
	text-align : left;
}

.codefield-text-align-right {
	text-align : right;
}

.codefield-text-align-center {
	text-align : center;
}

.codefield-border-bottom-dotted {
	border-bottom-style : dotted;
}

.codefield-border-bottom-solid {
	border-bottom-style : solid;
}

.codefield-border-bottom-dashed {
	border-bottom-style : dashed;
}