/* =Settings Pages. TAB: Requirements.
 -------------------------------------------------------------- */
#codefield-requirements table {
	font-size    : 12px;
	margin-top   : 0.5em;
	padding-left : 1em;
	width        : 100%;
}

#codefield-requirements table .codefield-icon-cell {
	border-bottom : 1px dotted #cccccc;
	border-right  : 1px dotted #cccccc;
	position      : relative;
	text-align    : center;
	width         : 2.5em;
}

#codefield-requirements table .codefield-icon-cell .icon-ok {
	color : #7ea441;
}

#codefield-requirements table .codefield-icon-cell .icon-remove {
	color : darkred;
}

#codefield-requirements table .codefield-msg-cell {
	border-bottom : 1px dotted #cccccc;
	padding-left  : 1em;
}