/* =Settings Pages. General.
 -------------------------------------------------------------- */
.codefield-page .codefield-page-header {
	line-height   : 1 !important;
	margin-bottom : 0.5em;
}

.codefield-settings-heading {
	font-size : 16px !important;
}

/* =Settings Pages. General. Tables.
 -------------------------------------------------------------- */
.codefield-page .codefield-inner-table {
	margin-bottom : 0;
}

.codefield-page .codefield-inner-table td {
	padding : 4px 7px 2px;
}

.codefield-page .codefield-inner-table td.import-system {
	padding-left : 7px !important;
	width        : 25em;
}

/* =Settings Pages. TAB: Requirements.
 -------------------------------------------------------------- */
#codefield-requirements table {
	font-size    : 12px;
	margin-top   : 0.5em;
	padding-left : 1em;
	width        : 100%;
}

#codefield-requirements table .codefield-icon-cell {
	border-bottom : 1px dotted #cccccc;
	border-right  : 1px dotted #cccccc;
	position      : relative;
	width         : 2.5em;
}

#codefield-requirements table .codefield-msg-cell {
	border-bottom : 1px dotted #cccccc;
	padding-left  : 1em;
}

/* =Settings Pages. TAB: Builder. Sub TAB: Toolbar.
 -------------------------------------------------------------- */
.spirebuilder-toolbar-settings-styles-row td img {
	border         : 1px solid gray;
	border-radius  : 4px;
	vertical-align : middle;
}

/* =Settings Pages. TAB: Builder. Sub TAB: Widgets.
 -------------------------------------------------------------- */
#spirebuilder-widget-content-max-chars-restricted-to {
	width : 5em;
}

#spirebuilder-widgets-list-container {
	margin-top  : 0.5em;
	padding-top : 0.8em;
}

#spirebuilder-widgets-list-container table {
	margin-top : 1em;
}

#spirebuilder-widgets-list-container table th {
	padding-left : 0 !important;
}

#spirebuilder-widgets-list-container table th.spirebuilder-field-cell {
	width : 3em;
}

#spirebuilder-widgets-list-container table td {
	padding        : 0.8em;
	vertical-align : bottom;
	width          : auto !important;
}

#spirebuilder-widgets-list-container table i {
	display      : inline-block;
	margin-right : 0.8em;
	width        : auto;
}

#spirebuilder-widgets-list-container table .spirebuilder-header {
	font-size : 1.1em !important;
}

#spirebuilder-widgets-list-container table td .description {
	margin-left : 2.3em;
}