/* =Columns container.
 -------------------------------------------------------------- */
.spirebuilder-widget-columns > .spirebuilder-box > .spirebuilder-box-header > h4 {
	float : left !important;
}

.spirebuilder-widget-columns > .spirebuilder-box > .spirebuilder-box-header > .spirebuilder-widget-columns-controls {
	display    : block;
	margin     : 0.4em auto auto;
	text-align : center;
	width      : auto;
}

.spirebuilder-widget-columns > .spirebuilder-box > .spirebuilder-box-header > .spirebuilder-widget-columns-controls .btn.dropdown-toggle {
	padding : 0 20px;
}

.spirebuilder-widget-columns > .spirebuilder-box > .spirebuilder-box-header > .spirebuilder-widget-columns-controls .dropdown-menu > li:last-child {
	margin-bottom : 0;
}

.spirebuilder-widget-columns > .spirebuilder-box > .spirebuilder-box-header > .spirebuilder-widget-columns-controls a {
	text-decoration : none;
}

.spirebuilder-widget-columns-wrapper > div {
	-webkit-transition : width 0.3s linear;
	-moz-transition    : width 0.3s linear;
	-o-transition      : width 0.3s linear;
	transition         : width 0.3s linear;
}